{% extends "base.html.twig" %}
{% block body %}

    <section id="banner" class="major">
        <div class="inner">
            <form action="/login" id="form_login" name="form_login" method="post">
                <header class="major">
                    <h1>Hi, my name is Forty</h1>
                </header>
                <div class="content">
                    <ul class="actions">
                        <li><a href="#one" class="button next scrolly">Get Started</a></li>
                    </ul>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
{%block script %}
    <script>
        $(function()
        {
        let user = {};
            $("header.major > h1").click(() => {
                $("header.major").html('<input type="email" name="email" id="email" style="width: 100%" placeholder="Hi this Alihasana">');
            })
            $("a.button.next.scrolly").click((e)=> {
                
                if (!user.email) {
                e.preventDefault();
                user.email = $('#email').val();
                // $("header.major").html('<input type="password" name="password" id="password" style="width: 100%" placeholder="Password">');
                $("header.major").append('<input type="password" name="password" id="password" style="width: 100%" placeholder="Password">');
                $("a.button.next.scrolly").text("Get Login");
                $("ul.actions > li").html('<button type="submit" id="password" style="width: 100%">Submit</button>');
                } else {
                    user.password = $('#password').val();
                    console.log(user);
                }
            })
        })
    </script>
{% endblock %}
