<nav id="menu">
        <ul class="links">
            <li><a href="{{ path('home') }}">Home</a></li>
            <li><a href="{{ path('add_event_get') }}">Add Event</a></li>
        </ul>

        <ul class="action">
            <li><a href="{{ path('logout') }}">Logout</a></li>
        </ul>
    </nav>